@import '../../../theme/mixins';
@import '../../../theme/variables';

.wrapper {
  @include common-wrapper;
  @include custom-scrollbars;
  width: 100%;


  .table {
    width: '100%';
    border-collapse: collapse;
  
    .th {
      border: 1px solid $grey-border-color;
      padding: .5rem;
      background: lighten($main-grey, 15);
    }

    .td {
      border: 1px solid $grey-border-color !important;
      padding: .5rem;
      background: white;

      .content {
        height: 2rem;

        display: flex;
        align-items: center;
      }
    }

    .filledTd {
      background: wheat;
    }
  }
}