@import '../../theme/mixins';
@import '../../theme/variables';

.tableWrapper {
    background-color: white;
    border-radius: $main-radius;
    padding: 1rem;

    .table {
        [class~='p-datatable-wrapper'] {
            @include custom-scrollbars;
        }
    
        [class~='p-component-overlay'] {
            background-color: $transparent-overlay-color !important;
        }
    }
}
